@import '_mixin';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
*:focus {
  outline: none;
}
html,
body,
#__nuxt,
#__layout {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #fafbfe;
  color: #1b1732;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}

.body_overflow {
  overflow: hidden;
  position: fixed;
}

p {
  margin-bottom: 10px;
}
a {
  text-decoration: none;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.h1 {
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0.4px;
  font-size: 64px;
}
.h2 {
  font-weight: 700;
  font-size: 60px;
}
.h3 {
  font-weight: 700;
  font-size: 54px;
}
.h4 {
  font-weight: 700;
  font-size: 44px;
}
.h5 {
  font-weight: 600;
  font-size: 34px;
}
.button-text {
  font-weight: 700;
  font-size: 22px;
}
.caption-1 {
  font-weight: 600;
  font-size: 28px;
}
.caption-2 {
  font-weight: 600;
  font-size: 24px;
}
.caption-3 {
  font-weight: 600;
  font-size: 20px;
}
.big-btn-text {
  font-size: 28px;
}
.small-text {
  font-size: 18px;
}
.text {
  font-weight: 600;
  line-height: 30px;
  color: #6a6a6a;
  font-size: 22px;
}
.footer-text-medium {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.footer-text-regular {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.color-dark {
  color: #1b1732;
}
.color-text {
  color: #6a6a6a;
}
.color-subtitle {
  color: #342e56;
}
.green {
  color: #63b97a;
}
.blue {
  color: #6da0f3;
}
.gray {
  color: #4f5665;
}
.text-center {
  text-align: center;
}
.page-layout {
  position: relative;
  width: 100%;
}
.m-0 {
  margin: 0;
}
.d-block {
  display: block !important;
}
.btn-common {
  border: 0;
  background: #ffa800;
  box-shadow: 22px 18px 53px -15px rgba(232, 97, 49, 0.69);
  border-radius: 60px;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #fff;
  padding: 16px 60px 17px;
  cursor: pointer;
  transition: all 0.3s linear;
  &:hover {
    box-shadow: 2px 8px 23px -5px rgba(232, 97, 49, 0.69);
  }
  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 24px;
    padding: 12px 40px 13px;
  }
}
.container {
  @media (min-width: 1921px) {
    max-width: 1920px;
    margin: auto;
    position: relative;
  }
}
@media (max-width: 767px) {
  .h1 {
    font-weight: 800;
    font-size: 44px;
  }
  .h3 {
    font-weight: 800;
    font-size: 38px;
  }
}
