@import '_mixin';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
*:focus {
  outline: none;
}
html,
body,
#__nuxt,
#__layout {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #fafbfe;
  color: #1b1732;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}

.body_overflow {
  overflow: hidden;
  position: fixed;
}

p {
  margin-bottom: 10px;
}
a {
  text-decoration: none;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.h1 {
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0.4px;
  font-size: 64px;
  // @include adaptive-font(64, 44);
}
.h2 {
  font-weight: 700;
  font-size: 60px;
}
.h3 {
  font-weight: 700;
  font-size: 54px;
  // @include adaptive-font(54, 38);
}
.h4 {
  font-weight: 700;
  font-size: 44px;
  // @include adaptive-font(44, 26);
}
.h5 {
  font-weight: 600;
  font-size: 34px;
  // @include adaptive-font(34, 24);
}
.button-text {
  font-weight: 700;
  font-size: 22px;
}
.caption-1 {
  font-weight: 600;
  font-size: 28px;
  // @include adaptive-font(28, 18);
}
.caption-2 {
  font-weight: 600;
  font-size: 24px;
}
.caption-3 {
  font-weight: 600;
  font-size: 20px;
}
.big-btn-text {
  font-size: 28px;
  // @include adaptive-font(28, 16);
}
.small-text {
  font-size: 18px;
  // @include adaptive-font(18, 16);
}
.text {
  font-weight: 600;
  line-height: 30px;
  color: #6a6a6a;
  font-size: 22px;
  // @include adaptive-font(22, 18);
}
.footer-text-medium {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.footer-text-regular {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.color-text {
  color: #1b1732;
}
.color-subtitle {
  color: #342e56;
}
.green {
  color: #63b97a;
}
.blue {
  color: #6da0f3;
}
.gray {
  color: #4f5665;
}
.text-center {
  text-align: center;
}
.page-layout {
  position: relative;
  width: 100%;
}
.m-0 {
  margin: 0;
}
